node_modules/
user_files/
.env
.env.development
.env.production
users.db
accounts.db
requests.rest
test.sql
database/expensesData.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml